body {
  background-color: white;
}
.well {
  padding:6px;
  background-color: #cdf2d4;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.heading {
  background-color: white;
}

.blue-box {
  padding: 6px;
  background-color: #98c5ea;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.purple-box {
  padding:6px;
  background-color: #9264AA;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.row-one {
  padding:6px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.grid-wrapper {
  border 1px solid grey;
  background-color: red;
  margin: 10px;
  float: right;
}

.side-bar{
  border 1px solid grey;
  background-color: pink;
  float: left;
  text-align: none;
}

li{
  list-style-type: none;
}
