body {
  background-color: white;
  font-family: sans-serif;
}

h5 {
  font-weight: bold;
}

.well {
  padding:6px;
  background-color: #cdf2d4;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.heading {
  background-color: white;
}

.blue-box {
  padding: 6px;
  background-color: #98c5ea;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.purple-box {
  padding:6px;
  background-color: #9264AA;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.row-one {
  padding:6px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.grid-wrapper {
  border 1px solid grey;
  background-color: white;
  margin: 10px;
  float: right;
  padding-right: 90px;
}

.side-bar{
  background-color: grey;
  float: left;
  text-align: none;
  padding-right: 20px;
}

.side-bar li{
  list-style-type: none;
  padding: 5px;
}
